<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statement of Account - PT. ASURANSI TOTAL BERSAMA</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table
      width="100%"
      height="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="
        background-color: #f9f9f9;
        height: 100vh;
        text-align: center;
        font-family: Calibri, sans-serif;
      "
    >
      <tr>
        <td
          align="center"
          valign="top"
          style="padding-top: 100px; padding-bottom: 100px"
        >
          <table
            width="80%"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              border: 1px solid #dddddd;
              border-radius: 8px;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            "
          >
            <tr>
              <td
                style="
                  padding: 20px;
                  font-family: Calibri, sans-serif;
                  font-size: 11pt;
                  color: black;
                  text-align: left;
                "
              >
                <div
                  lang="en-ID"
                  link="#0563C1"
                  vlink="#954F72"
                  style="word-wrap: break-word"
                >
                  <div id="Bahasa_Indonesia">
                    <p>Yth. {{ customerName }},</p>
                    <p>
                      Sebelumnya kami mengucapkan terima kasih atas kepercayaan
                      dan kerjasama yang telah terjalin selama ini dengan PT.
                      ASURANSI TOTAL BERSAMA.
                      <br />
                      Berdasarkan catatan kami per tanggal {{ formattedDate }},
                      terlampir adalah rincian tagihan premi.
                    </p>
                    <p>
                      Besar harapan kami kepada Bpk/Ibu dapat melakukan
                      pembayaran atas premi,
                      <span style="color: #ff0000; font-weight: bold"
                        >terutama tagihan yang melewati tanggal jatuh
                        tempo</span
                      >
                    </p>
                    <p>
                      Premi dapat dibayarkan ke BCA VIRTUAL ACCOUNT sebagai
                      berikut:
                    </p>
                    <table style="width: auto; border-collapse: collapse">
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          No. Virtual Account
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          {{ virtualAccount }}
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          Atas Nama
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">{{ customerName }}</td>
                      </tr>
                    </table>
                    <br />
                    <p>
                      Jika Virtual Account tidak bisa digunakan, maka dapat
                      dibayarkan pada pilihan rekening kami sebagai berikut:
                    </p>
                    <table style="width: auto; border-collapse: collapse">
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          1. No Rekening
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">879-209-1333</td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Nama Rekening
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          PT. ASURANSI TOTAL BERSAMA
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Bank
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          BCA Cab. WTC Mangga Dua
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <br />
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          2. No Rekening
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          120-00-3588888-7 (MANDIRI USD)
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Nama Rekening
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          PT. ASURANSI TOTAL BERSAMA
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Bank
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          Mandiri USD cab Sunter Permai
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <br />
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          3. No Rekening
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          120-00-3288888-0 (MANDIRI IDR)
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Nama Rekening
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          PT. ASURANSI TOTAL BERSAMA
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Bank
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          Mandiri Cab Sunter Permai
                        </td>
                      </tr>
                    </table>
                    <p>
                      Apabila pembayaran telah dilakukan mohon dapat di infokan
                      ke
                      <a
                        href="mailto:finance@tob-ins.com"
                        target="_blank"
                        rel="noopener noreferrer"
                        data-auth="NotApplicable"
                        data-safelink="true"
                        id="LPlnk548623"
                        data-linkindex="0"
                      >
                        <span style="color: blue !important"
                          >finance@tob-ins.com</span
                        >
                      </a>
                    </p>
                    <p>
                      Demikian kami sampaikan, atas perhatian dan kerjasamanya
                      kami ucapkan terima kasih.
                    </p>
                  </div>
                  <br />
                  <br />
                  <hr />
                  <div id="Bahasa_Inggris">
                    <p>Dear {{ customerName }},</p>
                    <p>
                      First of all, we would like to thank you for the trust and
                      cooperation that has been established so far with PT.
                      ASURANSI TOTAL BERSAMA.
                      <br />
                      Based on our records as of {{ formattedDateEn }}, attached
                      is the detail of the premium statement.
                    </p>
                    <p>
                      We strictly hope that you can make payment for the
                      premium,
                      <span style="color: #ff0000; font-weight: bold"
                        >especially for bills that have passed the due
                        date</span
                      >
                    </p>
                    <p>
                      Premium can be paid to BCA VIRTUAL ACCOUNT as follows:
                    </p>
                    <table style="width: auto; border-collapse: collapse">
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          Virtual Account No.
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          {{ virtualAccount }}
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          Name
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">{{ customerName }}</td>
                      </tr>
                    </table>
                    <br />
                    <p>
                      If the Virtual Account cannot be used, payment can be made
                      to our bank account options as follows:
                    </p>
                    <table style="width: auto; border-collapse: collapse">
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          1. Account No
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">879-209-1333</td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Account Name
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          PT. ASURANSI TOTAL BERSAMA
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Bank
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          BCA Cab. WTC Mangga Dua
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <br />
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          2. Account No
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          120-00-3588888-7 (MANDIRI USD)
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Account Name
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          PT. ASURANSI TOTAL BERSAMA
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Bank
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          Mandiri USD cab Sunter Permai
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <br />
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          3. Account No
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          120-00-3288888-0 (MANDIRI IDR)
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Account Name
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          PT. ASURANSI TOTAL BERSAMA
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            padding-right: 20px;
                            vertical-align: top;
                            white-space: nowrap;
                          "
                        >
                          &nbsp;&nbsp;&nbsp; Bank
                        </td>
                        <td style="vertical-align: top">:</td>
                        <td style="vertical-align: top">
                          Mandiri Cab Sunter Permai
                        </td>
                      </tr>
                    </table>
                    <p>
                      If payment has been made, please inform us at
                      <a
                        href="mailto:finance@tob-ins.com"
                        target="_blank"
                        rel="noopener noreferrer"
                        data-auth="NotApplicable"
                        data-safelink="true"
                        id="LPlnk548623"
                        data-linkindex="0"
                      >
                        <span style="color: blue !important"
                          >finance@tob-ins.com</span
                        >
                      </a>
                    </p>
                    <p>
                      Thus we convey, thank you for your attention and
                      cooperation.
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
