<table style="width:auto;border-collapse:collapse">
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      No. Virtual Account
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">{{ virtualAccount }}</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      Atas Nama
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">{{ customerName }}</td>
  </tr>
</table>
<br>
<p>
  Jika Virtual Account tidak bisa digunakan, maka dapat dibayarkan pada pilihan
  rekening kami sebagai berikut:
</p>
<table style="width:auto;border-collapse:collapse">
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      1. No Rekening
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">879-209-1333</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      &nbsp;&nbsp;&nbsp; Nama Rekening
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">PT. ASURANSI TOTAL BERSAMA</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      &nbsp;&nbsp;&nbsp; Bank
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">BCA Cab. WTC Mangga Dua</td>
  </tr>
  <tr>
    <td>
      <br>
    </td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      2. No Rekening
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">120-00-3588888-7 (MANDIRI USD)</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      &nbsp;&nbsp;&nbsp; Nama Rekening
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">PT. ASURANSI TOTAL BERSAMA</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      &nbsp;&nbsp;&nbsp; Bank
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">Mandiri USD cab Sunter Permai</td>
  </tr>
  <tr>
    <td>
      <br>
    </td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      3. No Rekening
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">120-00-3288888-0 (MANDIRI IDR)</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      &nbsp;&nbsp;&nbsp; Nama Rekening
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">PT. ASURANSI TOTAL BERSAMA</td>
  </tr>
  <tr>
    <td style="padding-right:20px;vertical-align:top;white-space:nowrap">
      &nbsp;&nbsp;&nbsp; Bank
    </td>
    <td style="vertical-align:top">:</td>
    <td style="vertical-align:top">Mandiri Cab Sunter Permai</td>
  </tr>
</table>
